<header class="bg-primary shadow p-3 text-light p-3">
	<div class="container d-flex flex-row align-items-center justify-content-between">
		<div>
			<h1 class="m-0">Театр «Бублик»
				<span>
					🥯
				</span>
			</h1>
		</div>
		<div>
			<nav>
				<ul class="d-flex flex-row list-unstyled m-0 gap-5 fs-5">
					<li>
						<a href="{{ path('app_performance_list') }}" class="text-white">Performances</a>
					</li>
					<li>
						<a href="#" class="text-white">List of Requests</a>
					</li>
					<li>
						<a href="{{ path('app_admin_panel') }}" class="text-white">Admin Panel</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
